body{
    margin: 0;
    background-color: #A9A9A9;
}
.border{
    border: 2px solid #000000;
    box-sizing: border-box;
}
.content{
    margin: 20px 30px;
}
.header{
    width: 100%;
    height: 160px;
    background: #FF0000;
}
.body-part{
    background: #FFFFFF;
    padding-bottom: 20px;
    padding-top: 10px;
    overflow: hidden;
}
.body-part .left-side{
    width: 24%;
    float: left;
    margin-right: 1%;
}
.left-side .leftside-1{
    width: 100%;
    height: 410px;
    background: #FF1493;
    margin-bottom: 30px;
}
.left-side .leftside-2{
    width: 100%;
    height: 410px;
    background: #FFD700;
}
.body-part .right-side{
    width: 75%;
    background: #32CD32;
    float: left;
}
.right-side .main-area{
    margin: 30px 10px 10px 10px;
}
.mainarea-header{
    width: 100%;
    height: 60px;
    background: #FF0000;
    margin-bottom: 10px;
}
.mainarea-body{
    overflow: hidden;
}
.mainarea-body .article-area{
    width: 70%;
    margin-right: 1%;
    float: left;
}
.article-area .article{
    width: 100%;
    background: #FF8C00;
    height: 329px;
    margin-bottom: 10px;
    float: left;
}
.mainarea-aside{
    width: 29%;
    height: 668px;
    background: #FFFF00;
    overflow: hidden;
}
.mainarea-footer{
    width: 100%;
    height: 60px;
    background: #0000CD;
}
.footer{
    width: 100%;
    height: 110px;
    background: #0000CD;
}